<footer class="bg-dark text-white border-top border-light py-1 mt-auto small">
    <div class="container text-center">

        <p class="mb-1 fw-semibold small">InkFlow Blog</p>

        <p class="mb-1 text-secondary">
            Share stories. Build ideas. Inspire people.
        </p>

        <div class="mb-1">

            <a href="https://github.com/uditaswal" target="_blank" class="text-white text-decoration-none mx-2 small">
                GitHub
            </a>

            <a href="https://yourportfolio.com" target="_blank" class="text-white text-decoration-none mx-2 small">
                Portfolio
            </a>

        </div>

        <small class="text-secondary">
            © 2026 Udit Aswal
        </small>

    </div>
</footer>
