<nav class="navbar navbar-expand-lg navbar-dark custom-navbar sticky-top shadow-sm">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand fw-bold fs-3 d-flex align-items-center gap-2" href="/">
            ✒️ <span>Ink</span>Flow
        </a>

        <!-- Mobile Toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <!-- Left -->
            <ul class="navbar-nav me-auto ms-lg-4">
                <li class="nav-item">
                    <a class="nav-link active px-3" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link px-3" href="/add-blog">Write Post</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link px-3" href="/blogs">Explore</a>
                </li>
            </ul>

            <!-- Search -->
            <form class="d-flex mx-lg-3 my-3 my-lg-0">
                <input class="form-control search-box" type="search" placeholder="Search blogs...">
            </form>

            <!-- Right -->
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white d-flex align-items-center gap-2" href="#"
                        role="button" data-bs-toggle="dropdown">
                        👤  <%= user ? user.fullName : 'Guest' %>

                    </a>

                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end shadow">
                        <li><a class="dropdown-item text-white" href="/signin">Sign In</a></li>
                        <li><a class="dropdown-item text-white" href="/signup">Sign Up</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>