NODE_ENV=production #production OR test
PORT=8000
ENDPOINT=http://localhost:
test_dbURI=mongodb://xyz
test_dbAppName=test-blog-app

prod_dbURI=mongodb+srv://<username>:<password>@blog-app.ai5x1dt.mongodb.net/
prod_dbAppName=prod-blog-app