#production OR test
#NODE_ENV=production
NODE_ENV=test
PORT=8000

ENDPOINT=http://localhost:
test_dbURI=<mongoDBURL>
test_dbAppName=test-blog-app

prod_dbURI=<mongoDBURL>
prod_dbAppName=prod-blog-app

JWT_SECRET=<jwt_secret>
ADMIN_PASSWORD = <password>
test_frontEndOrigin=http://localhost:5173
prod_frontEndOrigin=http://localhost:5173