NODE_ENV=production #production OR test
PORT=8000
ENDPOINT=http://localhost:
test_dbURI=mongodb://xyz
test_dbAppName=test-blog-app

prod_dbURI=mongodb+srv://prod_db_user:<pass>@blog-app.ai5x1dt.mongodb.net/prod-blog-app?retryWrites=true&w=majority

prod_dbAppName=prod-blog-app

mongoDBServerSelectionTimeoutMS=5000
mongoDBConnectTimeoutMS=10000